body {
  background-color: rgb(144, 190, 204);
  background-image: url(Fondo.png);
  background-size: cover;
  font-family: 'Indie Flower', cursive;
}

h3{
    font-size: 25px !important;
  }

.btn-success:hover {
  background-color: rgb(95, 211, 110);
}

canvas {
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  }

@keyframes example {
  from {box-shadow: 1px 1px 38px rgb(238, 255, 0)}
  to {box-shadow: 1px 1px 38px rgb(255, 0, 221);}
}

/*font-family: 'Satisfy', cursive;*/